@import "bootstrap";

.login-container {
  padding-top: 70px;
}

.fa {
  padding: 15px;
}

.fa-facebook-square {
  color: #3b5998;
  cursor: pointer;
}

.fa-twitter-square {
  color: #55acee;
  cursor: pointer;
}

.fa-google-plus-square {
  color: red;
  cursor: pointer;
}
